body{
    background-color: #F5CA5C;
}




/* -------------------------- For Generic classes for Glyphicons -------------------------- */
.leftTopRed{
    position:relative;
    display:inline-block;
    left:0;
    color:#d9534f;
    font-size:1.1em;
    float:left;
}

.rightBlue{
    position:relative;
    display:inline-block;
    right:0;
    float:right;
    color:blue;
    font-size:1.1em;
}
/* Generic classes for Glyphicons */
/* -------------------------- End Generic classes for Glyphicons -------------------------- */



/* -------------------------- For issueArchive.php -------------------- */

.report-listing{
    border:1px solid black;
    width:90%;
    height:auto;
    padding:12px;
    display:block;
    position:relative;
    margin:10px auto;
    box-shadow: 5px 5px 1px #CCC;
    overflow:auto;

}

.report-title{
    border-bottom:1px solid #444;
    border-left:1px solid #444;
    display:block;
    float:left;
    clear:both;
    position:relative;
    width:100%;
    padding:4px;
    height:25px;
    font-size:1.2em;
    font-style:italic;

    /*Gradient for title*/
    background: rgba(20,20,250,.2);
    background: -moz-linear-gradient(left, rgba(20,20,250,.2) 0%, rgba(255,255,255,0.58) 87%, rgba(255,255,255,0.49) 57%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(20,20,250,.2) 0%, rgba(255,255,255,0.58) 87%, rgba(255,255,255,0.49) 57%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(20,20,250,.2) 0%, rgba(255,255,255,0.58) 87%, rgba(255,255,255,0.49) 57%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8282fc', endColorstr='#ffffff', GradientType=1 );
}

.report-status{
    display:block;
    float:right;
    clear:both;
    position:relative;
    width:100%;
    padding:12px;
    height:auto;
    text-align:center;
    font-size:1.2em;
    font-style:italic;
}

.report-desc{
    display:block;
    float:right;
    clear:both;
    position:relative;
    width:100%;
    padding:12px;
    height:auto;
}

.scrollbar
{
    overflow-y: scroll;
}


.scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D62929;
}

/* -------------------------- end issueArchive.php -------------------- */




/* -------------------------- For index.php -------------------------- */

#container-dash{
    background-color: white;
    display: block;
    position: relative;
    width: 70%;
    height: 400px;
    margin: 0 auto;
    padding: 12px;
    border:1px solid black;
}

.statBox{
    display:block;
    position:relative;
    height:auto;
    width:20%;
    border:1px solid black;
    padding:12px;
    float:right;

    /*Adds a box-shadow to the entry div*/
    box-shadow: 5px 5px 1px #CCC;
    clear:both;
}

#inactive-feed{
    font-family: Terminal Dosis, sans-serif;
    display:block;
    position:relative;
    height:50px;
    width:20%;
    border:1px solid green;
    padding:12px;
    float:right;
    box-shadow: 5px 5px 1px #CCC;
    background-color:black;
    color:#7FFF00;
    clear:both;
    text-align:center;
    margin-top:5px;
}


.imageRotateHorizontal{
    -moz-animation: spinHorizontal .8s infinite linear;
    -o-animation: spinHorizontal .8s infinite linear;
    -webkit-animation: spinHorizontal 1.0s infinite linear;
    animation: spinHorizontal 1.0s infinite linear;
}

@keyframes spinHorizontal {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}


.tag{
    display:inline-block;
    position:relative;
    width:100px;
    height:25px;
    border-radius: 10px;
    box-shadow: 3px 3px 1px #CCC;
    padding:5px;
    text-align:center;
    border:1px solid black;
    font-size:.7em;
}

.tag:hover{
    font-size:1em;
    height:35px;
    width:130px;
    border-radius:25px;
    padding:9px;
}
/* -------------------------- End index.php -------------------------- */




/* -------------------------- For stackReports.php -------------------------- */

#container-stack-reports{
    background-color: white;
    display: block;
    position: relative;
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 12px;
    border:1px solid black;
}


.report-date{
    display:block;
    position:relative;
    padding:5px;
    margin:0 auto 20px auto;
    width:100%;
    height:auto;
    text-align:center;
    border:1px solid black;
    box-shadow: 5px 5px 1px #CCC;
    cursor:pointer;
}

.hr-higher{
    margin-top:-2px;
}

@media only screen and (max-width: 767px) {
    #container-stack-reports{
        width: 90%;
    }
}

/* -------------------------- End stackReports.php -------------------------- */





/* -------------------------- For stacksCheck.php -------------------------- */
#container{
    background-color: white;
    display: block;
    position: relative;
    width: 50%;
    height: auto;
    margin: 0px auto;
    padding: 12px;
    border:1px solid black;
}

/*Container used on the inv-manager page for wider container format*/

#pageNav{
    position:relative;
    display:block;
    bottom:0;
    margin: 0 auto;
    width:100%;
    height:50px;
    text-align:center;
    padding:12px;
}

.btn-center-long{
    width:50%;
    display:block;
    position:relative;
    margin:5px auto;
    padding: 6px;

}

.entry{
    width: 100%;
    height: 50px;
    padding: 12px;
    margin-top:15px;
    border:1px solid #888888;
    text-align:center;

    /*Adds a round border to the entry div*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    /*Adds a box-shadow to the entry div*/
    box-shadow: 2px 2px 1px #888888;
    display:block;
    position:relative;
}

/* Fixes the modal to the center of the screen, horizontally aligned in the center */
.fix-center{

}

.inline-btn{
    display:inline-block;
    position:relative;
    right:0;
    float:right;
}

.inline-btn.rej{
    margin-right:2em;
}

/*Styles for listings for stacks check*/
.pc-id{
    display:block;
    position:relative;
    left:0;
    top:0;
    float:left;
    padding-top:2px;
    padding-bottom:2px;
    width:auto;
    height:auto;
}

li.center{
    text-align:center;

}

#floorTitle{
    width:100%;
    text-align:center;
    font-size:2em;
}

.navBtnMargin{
    margin-right: 4em;
}

.btn-align-right{
    position:relative;
    float:right;
}

.btn-align-left{
    position:relative;
    float:left;
}
/* -------------------------- end stacksCheck.php -------------------------- */








/* -------------------------- For inv-manager.php -------------------------- */
#container-inv{
    background-color: white;
    display: block;
    position: relative;
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 12px;
    border:1px solid black;
    text-align:center;
    min-width:600px;
}

/*Containers for inv-manager listings*/
.stackListings{
    display:block;
    position: relative;
    margin:0 auto;
    width:100%;
    height:auto;
    padding:0 0 36px 36px;
    text-align:center;
}

/*For inv-manager listings*/
.stackLabel{
    display:inline-block;
    position: relative;
    margin: 12px 5px auto;
    border: 1px solid black;
    height:52px;
    width:18%;
    padding-top:12px;
    padding-bottom:12px;
    font-weight:bold;

    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;

    box-shadow: 5px 5px 1px #CCC;
}

/*For action buttons under the labels in inv-manager*/
.underlay{
    display:none;
    padding-bottom:3px;
    height:5px;
    position:absolute;
    left:3px;
    top:3px;
    /* For absolute center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width:60%;*/
}

/*When you hover over the inv-labels this causes the action menu to appear*/
.stackLabel:hover  .underlay{
    display:block;
}

/*Changes inv-manager listings color*/
.stackLabel:hover{
    cursor:pointer;
    /*
        background-color:#ADD8E6;
    width:20%;
    font-size:1.1em;
    */
}

/*Dotted label for adding new labels to database*/
.ghostLabel{
    display:inline-block;
    position: relative;
    margin: 12px 5px auto;
    border: 2px dotted;
    height:50px;
    width:18%;
    padding-top:12px;
    padding-bottom:12px;
    font-weight:bold;

    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.ghostLabel:hover{
    cursor:pointer;
    width:20%;
    font-size:1.1em;
}

/*Used to make the glyphicons smaller and colored green*/
.s-gr{
    font-size:.8em;
    color:#5cb85c;
}

/*Title for listings populated on inv-manager*/
.labelTitle{
    position: relative;
    display: inline-block;
    width:50%;
}

/* Contains the glyphicons to delete or edit listings */
.tools{
    position: relative;
    display: inline-block;
    float:right;
    width:15%;
    margin-top:-10px;
    visibility: hidden;
}

/* Adds on hover visiblity for tool sections in listings */
.stackLabel:hover .tools{
    visibility: visible;
}

#newLabel{
    width:100%;
    height:auto;
    resize:none;
}

.inv-title{
    font-size:2em;
}

/* -------------------------- end inv-manager.php -------------------------- */







/* -------------------------- For tickets.php -------------------------- */
#container-tickets{
    background-color: white;
    display: block;
    position: relative;
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 12px;
    border:1px solid black;
    min-width:320px;
}

.ticket-listing{
    position: relative;
    display: inline-block;
    /*height:200px;*/
    height:auto;
    width:18%;
    border:1px solid black;
    margin-left:13px;
    margin-bottom:13px;
    min-width:165px;

    /*Adds a round border to the entry div*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    /*Adds a box-shadow to the entry div*/
    box-shadow: 5px 5px 1px #CCC;

}

.ticket-title{
    position: relative;
    display: block;
    top:0;
    left:0;
    border-bottom:1px solid black;
    width:100%;
    height:20%;
    text-align:center;
    padding: 10px 0 10px 0;
    background-color:#d9534f;
}

.ticket-body{
    position: relative;
    display: block;
    top:0;
    left:0;
    border-bottom:1px solid black;
    width:100%;
    /*height:60%;*/
    height:auto;
    padding:10px;
    overflow: hidden;
}

.ticket-actions{
    position: relative;
    display: block;
    width:100%;
    height:40px;
    padding: 3px 5px 1px 5px;
}
/* -------------------------- End tickets.php -------------------------- */









/* -------------------------- For mobile designs -------------------------- */
@media only screen and (max-width: 767px) {
    body{
        background-color: #F5CA5C;
    }

    /*Styles the container for the listings*/
    #container{
        background-color: white;
        display: block;
        position: relative;
        width: 90%;
        height: auto;
        margin: 0 auto;
        padding: 12px;
        border:1px solid black;
    }

    /*Styles the listings*/
    .entry{
        width: 100%;
        height: 50px;
        padding: 12px;
        margin-top:15px;
        border:1px solid #888888;
        text-align:center;

        /*Adds a round border to the entry div*/
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

        /*Adds a box-shadow to the entry div*/
        box-shadow: 2px 2px 1px #888888;
        display:block;
        position:relative;
    }

    /*Styles the listings on hover*/
    .entry:hover{
        box-shadow: 2px 2px 1px #FFFFFF;
        margin-left: 1px;
        margin-bottom:-1px;
    }

    /*Styles the buttons*/
    .inline-btn{
        display:inline-block;
        position:relative;
        right:0;
        float:right;
    }

    /*Moves the buttons by margin*/
    .inline-btn.rej{
        margin-right:10px;
    }

    /*Styles the PC label per listing*/
    .pc-id{
        display:block;
        position:relative;
        left:0;
        top:0;
        float:left;
        padding-top:2px;
        padding-bottom:2px;
        height:100%;
        width:50%;
    }

    /*Allocates space for the buttons per listing*/
    #right{
        display:block;
        position:relative;
        float:right;
        right:0;
        height:100%;
        width:45%;
    }

    .stackListings{
        display:block;
        position: relative;
        margin:0 auto;
        width:100%;
        height:auto;
        padding: 0 36px 36px 36px;
        text-align:center;
        font-size:.8em;
    }

    .btn-center-long{
        width:90%;
        display:block;
        position:relative;
        margin:5px auto;
        padding: 6px;

    }

}

html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 70px;
}
footer {
    padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }


    .fix-center{
        position:fixed;
        margin-top:30%;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -60%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -60%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 60%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 60%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 60%; /* 6 columns */
    }


}

/* -------------------------- End mobile designs -------------------------- */