body{
    background-color: #F5CA5C;
}

#container{
    background-color: white;
    display: block;
    position: relative;
    width: 50%;
    height: 900px;
    margin: 0 auto;
    padding: 10px;
    border:1px solid black;
}

.entry{
    width: 100%;
    height: 50px;
    padding: 12px;
    margin-top:15px;
    border:1px solid #888888;
    text-align:center;

    /*Adds a round border to the entry div*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    /*Adds a box-shadow to the entry div*/
    box-shadow: 2px 2px 1px #888888;
    display:block;
    position:relative;
}

.entry:hover{
    box-shadow: 2px 2px 1px #FFFFFF;
    margin-left: 1px;
    margin-bottom:-1px;
}